{% extends "base.html"%}
{% load render_video %}

{%block content%}
<div class='container'>
    <div class='row'>
        <h1> {{object.title}} </h1>
        <div class='col-sm'> 
            {% render_video object.video %}
        </div>
    </div>
    <div class="row">
    {% for item in courses %}
          <div class="col-sm-4">
          {% include 'courses/snippets/thumnail_display.html' with course=item %}
          </div> 
          {%cycle '' '' '</div></div><div class="row"><div class="col-sm-4">'%}
           
    {% endfor %}

    {% comment %} {{ object.primary_category.all }} {% endcomment %}
    {% comment %} {{ object.secondary_category.all }} {% endcomment %}
    </div>
</div>
{%endblock%}